*.iso
*.sha256
.DS_Store
.local.env
/target
/config
.installer.env
overlay/oem/userdata.yaml
overlay/installer/oem/userdata.yaml
*user-data.yaml
*.env
provider-*/
userdata
*.zst
overlay/files-iso-installer/opt/*
