

PROVIDER_TYPE="provider-kubeadm"
PROVIDER_VERSION="1.25.2"
CORE_IMAGE="gcr.io/spectro-dev-public/spectro-sample/rhel8-kairos-rhsm:v1.5.0"
PROVIDER_IMAGE_REPOSITORY="quay.io/kairos"
BUILD_PLATFORM="linux/amd64"